<nav class="nav">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 id="title-page" style="font-size: 49px; font-family: serif"><big>CodeBlogs</big></h1>
      </div>
      
