<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Home</title>
  </head>
  <body>
    {{> navbar}}
    <div class="col-md-3">
      <a href="/login"><button id="log-in">
          <h2 id="logIn">Log In</h2>
      </button></a>
    </div>
  </div>
</div>
</nav>
    <div class="quote">
      <h1 id="quote" style="font-size: 49px;"><q>Blogging is not rocket science,
        it's about being yourself,
      and putting what you have into it</q></h1>
    </div>
    <div class="about-site">
      <h1>At CodeBlogs, you get a wonderful
      opportunity to pen down your coding <br>
      journey, be it blogging while narrating your mistakes, or telling<br>
      the world how you came to making
      a game-changing project
      </h1>
    </div>
    <a href="/signup"><button id="sign-up">Start Blogging</button></a>
  </body>
</html>
<!--Blog like no one is reading
Blog for yourself. First and always.
Blog because you feel compelled to share things you're passionate about,
& you'll never run out of material
-->

<!-- At CodeBlogs, you get a wonderful
opportunity to pen down your coding <br>
journey, be it blogging while doing
it narrating your mistakes, or telling <br>
the world how you came to making
a game-changing project-->

<!-- Blogging is not rocket science, it's about being yourself,
and putting what you have into it
-->
