<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/signup.css">
    <title>Log In</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <img class="portrait" src="../images/sign-up.jpg" alt="Bloginspiration">
        </div>
        <div class="col-md-6" style="margin-top: 221px;">
          <h4 class="center-content errorMessage">Username or Password is incorrect</h4>
          <form class="center-content form-class">
            <ul>
              <li>
                <label for="username">Enter your Username</label>
                <input id="username" type="text" placeholder="Username" value="">
              </li>
              <li>
                <label for="password">Enter Password</label><br>
                <input id="password" type="password" placeholder="Password" value=""><br>
              </li>
              <li>
                <input id="submitButton" type="button" name="Submit" value="Submit">
              </li>
            </ul>
              <input type="file" name="" value="">
          </form>
        </div>
  </body>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
</html>
