<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/post.css">
    <title>Post</title>
  </head>
  <body>
    {{> navbar}}
    </div>
  </div>
  </nav>
  <div class="container">
    <div class="row text-area" style="margin-top: 110px;">
      <textarea rows="1" cols="90" placeholder="Post Title" id="postTitle"></textarea>
    </div>
    <div class="row text-area" style="margin-top: 50px;">
      <textarea rows="18" cols="90" placeholder="Start Blogging..." id="post" style="border: 0px;"></textarea>
      <!-- <form>
        <input type="text" name="" value="">
      </form> -->
    </div>
    <div class="text-center">
    <button class="btn btn-primary btn-sx" id="postIt">Submit Post</button>
    </div>
  </div>
</body>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/post.js">

</script>
</html>
