img {
    max-width: 100%;
    max-height: 100%;
    margin-left: -15px;
}

.portrait {
  height: 1000px;
  width: 790px;
  overflow-y: hidden;
}

.center-content {
  display: flex;
  justify-content: center;
}

.sign-quote {
  margin-left: 111px;
  margin-top: 99px;
  text-align: center;
}

.form-class {
  margin-left: 200px;
  margin-top: 55px;
  max-width: 300px;
}

ul {
  list-style-type: none;
}

input {
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  outline: none;
  display: block;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
}

label {
  margin-top: 5px;
  margin-left: -25px;
  font-size: 21px;
}

#submitButton {
  width: 300px;
  height: 40px;
  border-radius: 3px;
  font-size: 21px;
  box-shadow: none;
  background: #FF8C00;
}

a:link{
  color: inherit;
}

a:visited {
  color: inherit;
}
