.nav{
  height: 100px;
  width: 100%
}

#title-page{
  margin-top: 55px;
  margin-left: -80px;
  /* margin-left: 21px; */
}

#log-in {
  text-align: right;
  margin-left: 149px;
  margin-top: 59px;
  background: transparent;
  border: 0;;
}

#log-in:hover {
  background: #FF8C00;
  color: white;
}

#newPost {
  height: 50px;
  width: 30%;
  font-size: 17px;
  background: transparent;
  border: 1px solid black;
  color: black;
}

#newPost:hover{
  background: black;
  color: white;
}

.single-post {
  padding: 15px;
  box-shadow: 2px 2px grey;
}

ul {
  list-style-type: none;
}

.posts {
  margin-top: 105px;
  margin-left: 75px;
}
